@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.post {
    background-color: rgb(232, 237, 238);
}

.post:hover {
    background-color: rgb(198, 205, 206);
}